.login-div {
  text-align: center;
}

.nameQ_h2 {
  font-size: 50px;
  color: white;
}

.nameQ {
  border: none;
  background-color: transparent;
  border-bottom: 2px white solid;
  font-size: 45px;
  text-align: center;
  color: white;
}

.nameQ_btn {
  display: none;
}

.todoQ {
  border: none;
  background-color: transparent;
  border-bottom: 2px white solid;
  font-size: 45px;
  text-align: center;
  color: white;
}

.todoQ_h2 {
  font-size: 40px;
  color: white;
}

#weather {
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
}

#greeting {
  color: white;
  font-size: 50px;
  margin-bottom: 150px;
}

#clock {
  color: white;
  font-size: 170px;
  margin-bottom: 10px;
}

#quote {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
